# Verificação

## 1. Introdução

<p style="text-indent: 20px; text-align: justify">
Verificação é uma análise de modelos sem que haja direta comparação com o Universo de Informações, sendo essa análise uma tarefa desempenhada tanto por seres humanos, como por software, segundo regras bem definidas. Em resumo, a verificação investiga os artefatos, a fim de encontrar erros de notação, em processos e/ou procedimentos. 
</p>

## 2. Metodologia

<p style="text-indent: 20px; text-align: justify">
Para desenvolver a verificação, iremos analisar os artefatos e detectar defeitos no processo de criação dos mesmos, a fim de deixá-los mais claros e mais apresentáveis, tornando o projeto ainda mais confiável.
</p>

## 3. Verificação com inspeções

<p style="text-indent: 20px; text-align: justify">
Existem várias estratégias de verificação de software. Neste projeto, utilizar-se-á as inspeções proposta por Fagan, o qual sugere a inspeção, seguida da correção e do acompanhamento dessas retificações. O objetivo básico das inspeções é verificar se o modelo está de acordo com a sua notação e o que se espera dele. Além disso, as inspeções podem ser aplicadas na definição de requisitos para a verificação em documentos, quer eles sejam produzidos por clientes, e sem uma estrutura própria, ou produzidos por Engenheiros de Software/Requisitos. Trata-se de um método gerencial de reuniões, o qual possui como objetivo descobrir defeitos em documentos. Atráves de inspeções, é possível descobrir defeitos antes do sistema ser testado.
</p>

<div class="container">
    <div class="row">
        <div class="col">
            <p align = "center">
                <img src="https://raw.githubusercontent.com/Requisitos-de-Software/2021.2-MedSUS/main/docs/assets/inspector_image.jpg">
                <figcaption>Figura 1: Inspetor de Verificação do MedSUS (Ilustrativo)</figcaption>            
                <figcaption>Fonte: iStock</figcaption>
            </p>
        </div>
    </div>
</div>

## Referências bibliográficas

> SERRANO, Milene; SERRANO, Maurício. Requisitos (Aula 23): Elicitação, Modelagem e Análise. 2022. Apresentação de Power Point. 52 slides. color. Disponível em: https://aprender3.unb.br/pluginfile.php/1668221/mod_resource/content/2/Requisitos%20-%20Aula%20023.pdf. Acesso em: 22 mar. 2022.

## Histórico de versões

| Versão |   Data   |                  Alteração                   | Responsável |   Revisão    |
| :----: | :------: | :------------------------------------------: | :---------: | :----------: |
| 0.0.1  | 22/03/22 |                   Criação                    | João Durso  | Gabriel Luiz |
| 0.0.2  | 22/03/22 | Adição de Introdução, Metodologia e Artefato | João Durso  | Gabriel Luiz |
| 0.0.3  | 19/04/22 |               Correção textual               | João Durso  | Gabriel Luiz |
