# Verificação

## 1. Introdução

<p style="text-indent: 20px; text-align: justify">

</p>

## 2. Metodologia

<p style="text-indent: 20px; text-align: justify">

</p>

## 3. Verificação

<p style="text-indent: 20px; text-align: justify">

</p>

## Referências bibliográficas

> SERRANO, Milene; SERRANO, Maurício. Requisitos (Aula 23): Elicitação, Modelagem e Análise. 2022. Apresentação de Power Point. 52 slides. color. Disponível em: https://aprender3.unb.br/pluginfile.php/1668221/mod_resource/content/2/Requisitos%20-%20Aula%20023.pdf. Acesso em: 22 mar. 2022.

## Histórico de versões

| Versão |   Data   | Alteração | Responsável |   Revisão    |
| :----: | :------: | :-------: | :---------: | :----------: |
| 0.0.1  | 22/03/22 |  Criação  | João Durso  | Gabriel Luiz |

